body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #1a1a1a;

    padding: 0;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

main {
    display: flex !important; /** Used for prevent gh-pages automatically in build process **/
    flex-direction: column;
    height: 100vh;
    height: stretch;
}
