body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #1a1a1a;

    padding: 0;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main > * {
    padding: 0 14vw;
}

* {
    box-sizing: border-box;
}
